<div class="booking-form-container"> <!-- Add a container div -->
  <h1>Event Booking</h1>

  <div>
    <%= simple_form_for [@event, @booking] do |f| %>
      <%= f.submit "Submit Booking", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
