<footer style="background-color: #C069EC; padding: 5px; color: white; font-size: 12px;">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4 text-center">
        <div class="social-icons">

        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-github"></i></a>

        </div>
      </div>
      <div class="col-md-4 text-right">
        <div class="footer-info">
          <p>&copy; 2023 My Event Radar</p>
        </div>
      </div>
    </div>
  </div>
</footer>
