<footer>
    <div class="logo-container">
        <div class="logo">
            <img src="/assets/event logo.png" alt="Logo 1">
            <p class="logo-text">Logo 1</p>
        </div>
        <div class="logo">
            <img src="/assets/event logo.png" alt="Logo 2">
            <p class="logo-text">Logo 2</p>
        </div>
        <div class="logo">
            <img src="/assets/event logo.png" alt="Logo 3">
            <p class="logo-text">Logo 3</p>
        </div>
    </div>
    <div class="social-icons">
        <a href="#"><img src="facebook-icon.png" alt="Facebook"></a>
        <a href="#"><img src="twitter-icon.png" alt="Twitter"></a>
        <a href="#"><img src="icons8-facebook-48.png" alt="Instagram"></a>
    </div>
</footer>
