<footer>
    <div class="logo-container">
        <div class="logo">
            <img src="/assets/event logo.png" alt="Logo 1">
        </div>
        <div class="logo">
            <img src="/assets/event logo.png" alt="Logo 2">
        </div>
        <div class="logo">
            <img src="/assets/event logo.png" alt="Logo 3">
        </div>
    </div>
    <div class="social-icons">
    <a href="#"><img src="<%= asset_path('icons8-facebook-circled-94.png') %>" alt="Facebook"></a>
    <a href="#"><img src="<%= asset_path('icons8-xing-94.png') %>" alt="Twitter"></a>
    <a href="#"><img src="<%= asset_path('icons8-instagram-94.png') %>" alt="Instagram"></a>
</div>
