 <footer>
        <div class="logo-container">
            <div class="logo1">
                <img src="user.png" alt="Logo 1">
                <p class="logo-text">Logo 1</p>
            </div>
            <div class="logo2">
                <img src="user.png" alt="Logo 2">
                <p class="logo-text">Logo 2</p>
            </div>
            <div class="logo3">
                <img src="user.png" alt="Logo 3">
                <p class="logo-text">Logo 3</p>
            </div>
        </div>
        <div class="social-icons">
            <a href="#"><img src="facebook-icon.png" alt="Facebook"></a>
            <a href="#"><img src="twitter-icon.png" alt="Twitter"></a>
            <a href="#"><img src="instagram-icon.png" alt="Instagram"></a>
        </div>
    </footer>
