
<footer  style="background-color: #C069EC; padding: 5px; color: white; font-size: 12px;">
  <div class="d-flex flex-row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4 text-center">
      <div class="social-icons">

        <a href="#"><i class="fa-brands fa-facebook"></i>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-twitter"></i></a>

      </div>
    </div>
    <div class="col-md-4 text-right">
      <div class="footer-info">
        <p>&copy; 2023 My Event Radar</p>
      </div>
    </div>
  </div>
</footer>
