<h1 style="margin-left: 20px;"><%= @event.name %></h1>

  <div class="split-container">
    <div class="left-pane">
      <% if @event.photos.attached? %>
        <% @event.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
        <% end %>
        <p>
      <h2><strong>About this event</strong></h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget tortor at mauris feugiat tincidunt. Nullam auctor eget quam in mattis. Aenean nec urna a quam blandit semper. Vestibulum vel urna nec leo consequat venenatis. Maecenas gravida, justo ac congue ultricies, libero elit aliquet purus, in suscipit dolor nisl sed nisi.
        </p>
  </div>

    <div class="right-pane">
       <% if @event.photos.attached? %>
        <% @event.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
        <% end %>
      <p>geocoding MAP BOOM!</p>
    <button type="button" class="purple-button" style="margin-right: 30px; padding: 10px 10px;">Chat Group</button>

    </div>
  </div>

  <div>
    <button type="button" class="purple-button" style="margin-right: 30px; margin-left: 20px; padding: 10px 10px;">Sales end 19th Aug 2023</button>
    <a href="<%= new_event_booking_path(@event) %>">
  <button type="button" class="purple-button" style="margin-right: 30px; padding: 10px 10px;">Checkout for £10</button>
</a>
  </div>


