<h1><%= @event.name %></h1>

<div class="photo1">
  <%=image_tag @event.photo_url, alt: "Event Photo" %>
</div>



<h2><strong>About this event       Organiser </strong></h2>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget tortor at mauris feugiat tincidunt. Nullam auctor eget quam in mattis. Aenean nec urna a quam blandit semper. Vestibulum vel urna nec leo consequat venenatis. Maecenas gravida, justo ac congue ultricies, libero elit aliquet purus, in suscipit dolor nisl sed nisi.

<p>


<div>
  <button type="button" style="margin-right: 30px;">Sales end 19th Aug 2023</button>
  <button type="button" style="margin-right: 30px;">Checkout for £10</button>
</div>



