<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1501281668745-f7f57925c3b4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80); position: relative; height: 100vh;">
  <!-- Place the event logo in the top-left corner -->
  <img src="/assets/event_logo2-a3d339e7617ddf1698af07a66eb925a4cbf69de5238e9ce2a7068d1c1384dca6.png" alt="Logo" style="position: absolute; top: 20px; left: 20px; width: 40px; height: 40px;">

  <div class="search-area" style="position: absolute; bottom: 0; left: 0; width: 100%; background-color: transparent; padding: 220px;">
    <div class="container" style="top: 20px;">
      <div class="row justify-content-center" style="margin-bottom: 30%;">
        <div class="col-sm-8">
        <div>
          <h1 style="text-align:center"><strong>Discover, book, and immerse yourself in Live Events and more!</strong></h1>
        </div>
          <br>
          <%= form_tag events_path, method: :get, class: "d-flex" do %>
            <%= text_field_tag :query,
                  params[:query],
                  class: "form-control",
                  placeholder: "Music, food, jazz.."
            %>
<div style="width: 40px;"></div>
            <input type="date"
                 id="date"
                 name="start_date"
                 class="form-control"
                 value="<%= params[:start_date] %>"
                 placeholder="Select a Date"
            >
            <%= submit_tag "Search", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>







</div>
