<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1501281668745-f7f57925c3b4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80); position: relative; height: 100vh;">
  <!-- Banner content... -->
  <div class="search-area" style="position: absolute; bottom: 0; left: 0; width: 100%; background-color: transparent; padding: 220px;">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-8 my-3">
          <h1><strong>FIND YOUR SPECIAL EVENT</strong></h1>
          <br>
          <%= form_tag events_path, method: :get, class: "d-flex" do %>
            <%= text_field_tag :query,
                  params[:query],
                  class: "form-control",
                  placeholder: "Find an event"
            %>

            <input type="date"
                 id="date"
                 name="start_date"
                 class="form-control"
                 value="<%= params[:start_date] %>"
                 placeholder="Select a Date"
            >
            <%= submit_tag "Search", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>







</div>
