.event-img{
  width: 100%;
  height: 220px;
  object-fit: cover;
  object-position: center;
}

.t-color{
  color: #8251CA;
}

.card{
  margin: 0 .5em;
  width: calc(100%/3);
  margin-left: 500px;
  margin-top: 50px;
}
