// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "cards";
@import "form-btn";
@import "purple-button";
@import "split-container";
@import "./footer";
@import "./split-bookings";
@import "./chatroom";
@import "./show-bookings";
@import "./map";
@import "./mybookingsbox";


html{
  min-height: 100vh;
}

body{
  background-color: #2B232E;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}
