.mapboxgl-popup {
  max-width: 30%;

}





.text-name {
  font-size: 12px;
  color: white;
}

.text-location {
  font-size: 12px;
  color: white;
}

.mapboxgl-popup-content {
  display: contents;

}


.map-event-img {
  max-height: 200px;
  max-width: 200px;
  border-radius: 5px;

}
