.purple-button {
  background-color: #7f43d9;
  color: #ffffff; /* Set text color to contrast with the background */
  border: none;
  /* Adjust padding as needed */
}

.submit-booking {

  background-color: #C069EC;
  width: 424px;
  box-shadow: 5px 5px 20px rgba(150, 150, 150, 0.5);
}
