.split-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


.left-pane {
  flex: 1;
  padding: 20px;
  margin-left: 150px;
}


.right-pane {
  flex: 1;
  padding: 20px;
  margin-top: 60px;


}

.info{
  background-color: none;
  color: white;
  width: 400px;
  margin-bottom: 20px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.info span{
  padding: 6px


}

.date{
  background-color: none;
  color: white;
  width: 400px;
  margin-bottom: 20px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.date span{
  padding: 6px;
  margin-left: 215px;
  margin-top: -72px;
}


.name{
  margin-left: 60px;
}
